
<style>
.container {
  margin-top: 40px;
}

.btn-primary {
  width: 100%;
}

.appview{
	display: inline;
}
</style>
<div class="page-container" ng-controller="userCtrl">	
   <div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
		<div>
			<div my-customer></div>
		</div>

		<div class="chart-layer-2">
		  <div class="clearfix"> </div>
		</div>

		<!--climate start here-->
    	<div class="chit-chat-layer1">
		  <div class="col-md-6 chit-chat-layer1-left">
			<h3>Appointment Details of Customers</h3></br>
	           <div class="work-progres">
	                <div class="table-responsive">
	                     <table class="table table-hover">
	                          <thead>
	                            <tr>
	                              <th>#</th>
	                              <th>Doctor Name</th>
	                              <th>Doctor Email</th>                                   
	                              <th>Doctor Phoneno</th>
	                              <th>Animal Category</th>
	                              <th>Animal Name</th>
	                              <th>View Details</th>
	                            </tr>
	                          </thead>
	                          <tbody>
	                              <tr ng-repeat="notify in shownnotification">
		                              <td>{{$index+1}}</td>
		                              <td>{{notify.doctor_name}}</td>
		                              <td>{{notify.doctor_email}}</td>                                 
		                              <td>{{notify.doctor_phoneno}}</td>
		                              <td>{{notify.animal_category}}</td>
		                              <td>{{notify.animal_name}}</td>
		                              <td><button class="btn-sm btn-info" ng-click="appointclk(notify)">View</button></td>
	                              </tr>
	                          </tbody>
	                     </table>
	                 </div>
	             </div>
	      </div>
	       <div class="col-md-4 appview" ng-show="petview">
		      <h3>Approved Appointment View</h3></br>
	            <div class="well well-sm">
	                <div class="row">
	                    <!-- <div class="col-sm-6 col-md-4">
	                        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
	                    </div> -->
	                    
	                    <div class="col-sm-6 col-md-10" style="left: 30px;"></br>
	                      <form>
		                        <div class="form-group">
		                           <label>Doctor Name :</label>
		                           <h4 class="appview">{{docname}}</h4> 
		                        </div>
		                        <div class="form-group">
		                           <label>Doctor Email:</label>
		                           <h4 class="appview">{{docemail}}</h4> 
		                        </div>
		                        <div class="form-group">
		                           <label>Request:</label>
		                           <h4 class="appview">{{request}}</h4> 
		                        </div>
		                        <div class="form-group">
		                           <label>Doctor Phone No:</label>
		                           <h4 class="appview">{{docphno}}</h4> 
		                        </div>
		                        <div class="form-group">
		                           <label>Animal Category :</label>
		                           <h4 class="appview">{{acategory}}</h4> 
		                        </div>
		                        <div class="form-group">
		                           <label>Animal Name :</label>
		                           <h4 class="appview">{{aname}}</h4>
		                        </div>
		                        <div class="form-group">
		                           <label>DoctorAppointment Date :</label>
		                           <h4 class="appview">{{docdata}}</h4>
		                        </div>
		                        
	                      </form>
	                          
	                    </div>         
	                </div>
	            </div>
          </div> 
	    
     	<div class="clearfix"> </div>
    </div>
	
	<div id="footer" ng-include="'./ng-view/common/footer.html'"></div>
		
	<!--COPY rights end here-->
	</div>
	</div>
	<!--slider menu-->
    <div id="header" ng-include="'./ng-view/common/header.html'"></div>
	<div class="clearfix"> </div>
</div>