<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

<div>
<div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
			<div>
				<div my-customer></div>
			</div>

     	<section class="product_area product_gird_three p_100">
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-12" ng-show="viewprodlist">
        				<div class="product_grid_text d-flex justify-content-between">
							<div class="left_text">
							  Cattle
							</div>
							<div class="right_text">
								{{cuscatledata.length}} <span>Cattle</span>
							</div>
						</div>
						<!-- <div class="fliter_text d-flex justify-content-between">
							<div class="left">
								<div class="product_fillter">
									<span>Short by:</span>
									<ul class="list">
										<li class="active" data-filter="*">Newest Arrivals </li>
										<li ng-click="cattlelowtohigh()">A - Z</li>
										<li ng-click="cattlehightolow()">Z - A</li>
										<li>Most populer</li>

									</ul>
								</div>
							</div>
							<div class="right">
								<i class="fa fa-th" aria-hidden="true"></i>
								<select class="view">
									<option>12 per page</option>
									<option value="1">12 per page</option>
									<option value="2">9 per page</option>
									<option value="3">8 per page</option>
								</select>
							</div>
						</div> -->
						<!-- <div class="row product_inner">
							<div class="col-lg-4 col-sm-6" ng-repeat="cattle in cuscatledata | limitTo :9 track by $index">
								<div class="product_item">
									<div class="product_img">
										<img class="img-fluid" src="{{cattle.cattle_image}}" alt="">
									</div>
									<div class="product_text">
										<h4>{{cattle.petname}}</h4>
										<h5>{{cattle.cattle_price}}<del>$12.00</del></h5>
										
									</div>
								</div>
							</div>
						</div> -->
						
						<div id="app">
						  <div class="container mt-3 mt-sm-5">
						    <div class="row justify-content-between mb-3">
						      <div class="col-md-9">
						        <h5 class="display-1">Cattle Market</h5>
						      </div>
						      <div class="col-md-3 text-right">
						        <button ng-click="getviewprod()" class="btn btn-primary btn-lg" type="button" > <!-- data-toggle="modal" data-target="#cart" -->
						        <i class="fa fa-shopping-cart"></i> {{tot}}</button>
						      </div>
						    </div>
						    <div class="row">
						      <div class="col-md-3" ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
						        <div class="card"><img style="height: 200px;" class="" src="{{item.cattle_image}}" alt="">
						          <div class="card-block">
						            <h4 class="card-title">{{item.petname}}</h4>
						            <div class="card-text">₹{{ item.cattle_price}}</div>
						            <div class="row justify-content-end">
						              <button class="btn btn-primary" ng-click="clkaddToCart(item)" >Add to cart</button>
						            </div>
						          </div>
						        </div>
						      </div>
						    </div>
						  </div>
						</div>
						
						<div class="pagination_area" style="overflow:visible;">
							<nav aria-label="Page navigation example">
								<ul class="pagination">
		                           <li class="page-item" ng-class="{disabled: currentPage == 0}"><a href ng-click="prevPage()"><i class="fa fa-angle-double-left"></i> Prev</a></li>
		                           <li class="page-item" ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
		                                   <a href ng-bind="n + 1"></a>
		                           </li>
		                           <li class="page-item" ng-class="{disabled: currentPage == pagedItems.length - 1}"><a href ng-click="nextPage()">Next <i class="fa fa-angle-double-right"></i></a></li>
                            	</ul>
							</nav>
						</div>
        			</div>
        			
        			<!-- <div class="col-lg-3">
        				<div class="product_sidebar_area">
        					<aside class="side_widget selection_widget">
        						<div class="input-group">
									<input type="text" class="form-control" placeholder="Search Keyword..." aria-label="Search Keyword..." aria-describedby="button-addon2">
									<div class="input-group-append">
										<button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="mdi mdi-magnify"></i></button>
									</div>
								</div>
       							<a class="clear" href="#">clear all</a>
        					</aside>
        					<aside class="side_widget category_widget">
        						<div class="wd_title">
        							<h3>Category</h3>
        						</div>
        						<ul class="list" >
        							<li ng-repeat="list in cuscatledata"><a href="#">{{list.pet_category}}</a></li>
        							
        						</ul>
        					</aside>
        					
        					<aside class="side_widget price_widget">
        						<div class="wd_title">
        							<h3>Pirce Range</h3>
        						</div>
								<div class="cost_price_content">
									<div id="price-range" class="price-range"></div>
									<span id="price-min" class="price-min">$150</span>
									<span id="price-max" class="price-max">$600</span>
								</div>
        					</aside>
        					<aside class="side_widget discount_widget">
        						<div class="wd_title">
        							<h3>Discount</h3>
        						</div>
        						<select>
									<option>Choose your discount</option>
									<option value="1">Choose your discount</option>
									<option value="2">Choose your discount</option>
									<option value="3">Choose your discount</option>
								</select>
        					</aside>
        				</div>
        			</div> -->
        			
        			
        			<div class="container" ng-show="viewselectedprod">
				<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="c in cart">
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img src="{{c.cattle_image}}" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin">{{c.petname}}</h4>
									</div>
								</div>
							</td>
							<td data-th="Price"> ₹{{c.cattle_price}}</td>
							<td data-th="Quantity">
								{{c.count}}
							</td>
							<td data-th="Subtotal" class="text-center"> ₹{{c.cattle_price*c.count}}</td>
							<td class="actions" data-th="">
								<button class="btn btn-danger btn-sm" ng-click="removeItemCart(c)"><i class="fa fa-trash-o"></i></button>								
							</td>
						</tr>
					</tbody>
					<tfoot>
						
						<tr>
							<td><a href="" class="btn btn-warning" ng-click="showprodlist()"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total ₹{{cattletotal}}</strong></td>
							<td><a href="https://www.paypal.com/webapps/hermes?token=5EY097812P7754247&useraction=commit&mfid=1546377013907_cf1dec6830d7" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
						</tr>
					</tfoot>
			  </table>
		  </div>
		  
        		</div>
        	</div>
        </section>
        
        <div id="footer" ng-include="'./ng-view/common/footer.html'"></div>

</div>
</div>
<!--slider menu-->
    <div id="header" ng-include="'./ng-view/common/header.html'"></div>
	<div class="clearfix"> </div>
</div>
