<div class="page-container" ng-controller="userCtrl">	
    <div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
		    <div>
				<div my-customer></div>
			</div>
				
			<div class="inner-block" ng-controller="prodCtrl">
	          <div class="inbox">
	           <div class="container">
	          		<div class="row">
	          			<div ng-click="viewproducts()" style="float: right; margin-right: 10%;">
				  			<button class="btn btn-info" >Product View</button>
						</div>
	          		</div>
	           </div>	
			   <div class="container">
			   	<div class="row">
					<form class="form-horizontal">
						<fieldset>
						
						<!-- Form Name -->
						<legend>Customer's Product Form</legend>
						
						<!-- Text input-->
						<div class="form-group">
						  <label class="col-md-4 control-label" for="textinput">Product Category</label>  
						  <div class="col-md-4">
						  	<!-- <input id="textinput" name="textinput" ng-model="prodcategory" type="text" placeholder="Enter the category" class="form-control input-md"> -->
						  	<select ng-model="prodcategory" class="form-control" ng-change="productcatgory()">
						  		<option value="">Select the category</option>
						  		<option value="cattle">Cattle</option>
						  		<option value="petfood">Pet Food</option>
						  	</select>
						  </div>
						</div>
						
						<!-- Text input-->
						<div class="form-group">
						  <label class="col-md-4 control-label" for="textinput">Product Name</label>  
						  <div class="col-md-4">
						  <input id="textinput" name="textinput" ng-model="prodname" type="text" placeholder="Enter the name" class="form-control input-md">
						  </div>
						</div>
						
						<!-- Text input-->
						<div class="form-group">
						  <label class="col-md-4 control-label" for="textinput">Price</label>  
						  <div class="col-md-4">
						  <input id="textinput" name="textinput" type="text" ng-model="price" placeholder="Enter the price" class="form-control input-md">
						  </div>
						</div>
						
						<!-- Textarea -->
						<div class="form-group">
						  <label class="col-md-4 control-label" for="textarea">Product Description</label>
						  <div class="col-md-4">                     
						    <textarea class="form-control" id="textarea" ng-model="proddetails" placeholder="Product details" name="textarea"></textarea>
						  </div>
						</div>
						
						<!-- File Button --> 
						<div class="form-group">
						  <label class="col-md-4 control-label" for="filebutton">Upload Image</label>
						  <div class="col-md-4">
						    <input type="file" class="form-control productimg" ng-model="prodimg" >
						  </div>
						</div>
						
						<!-- Button (Double) -->
						<div class="form-group">
						  <label class="col-md-4 control-label" for="button1id"></label>
						  <div class="col-md-8">
						    <button id="button1id" name="button1id" ng-click="saveproduct()" class="btn btn-success">Submit</button>
						  </div>
						</div>
						
						</fieldset>
					</form>
				  </div>
				</div>
			  </div>
			 </div>
			
			<!--inner block start here-->
			<div id="footer" ng-include="'./ng-view/common/footer.html'"></div>
			<!--COPY rights end here-->
	   </div>
    </div>
	<!--slider menu-->
    <div id="header" ng-include="'./ng-view/common/header.html'"></div>
	<div class="clearfix"> </div>
</div>
