<style>
	h3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em;}

	/********************* Shopping Demo-6 **********************/
	.product-grid6,.product-grid6 .product-image6{overflow:hidden}
	.product-grid6{font-family:'Open Sans',sans-serif;text-align:center;position:relative;transition:all .5s ease 0s}
	.product-grid6:hover{box-shadow:0 0 10px rgba(0,0,0,.3)}
	.product-grid6 .product-image6 a{display:block}
	.product-grid6 .product-image6 img{width:100%;height:auto;transition:all .5s ease 0s}
	.product-grid6:hover .product-image6 img{transform:scale(1.1)}
	.product-grid6 .product-content{padding:12px 12px 15px;transition:all .5s ease 0s}
	.product-grid6:hover .product-content{opacity:0}
	.product-grid6 .title{font-size:20px;font-weight:600;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
	.product-grid6 .title a{color:#000}
	.product-grid6 .title a:hover{color:#2e86de}
	.product-grid6 .price{font-size:18px;font-weight:600;color:#2e86de}
	.product-grid6 .price span{color:#999;font-size:15px;font-weight:400;text-decoration:line-through;margin-left:7px;display:inline-block}
	.product-grid6 .social{background-color:#fff;width:100%;padding:0;margin:0;list-style:none;opacity:0;transform:translateX(-50%);position:absolute;bottom:-50%;left:50%;z-index:1;transition:all .5s ease 0s}
	.product-grid6:hover .social{opacity:1;bottom:20px}
	.product-grid6 .social li{display:inline-block}
	.product-grid6 .social li a{color:#909090;font-size:16px;line-height:45px;text-align:center;height:45px;width:45px;margin:0 7px;border:1px solid #909090;border-radius:50px;display:block;position:relative;transition:all .3s ease-in-out}
	.product-grid6 .social li a:hover{color:#fff;background-color:#2e86de;width:80px}
	.product-grid6 .social li a:after,.product-grid6 .social li a:before{content:attr(data-tip);color:#fff;background-color:#2e86de;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;border-radius:5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
	.product-grid6 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
	.product-grid6 .social li a:hover:after,.product-grid6 .social li a:hover:before{opacity:1}
	@media only screen and (max-width:990px){.product-grid6{margin-bottom:30px}
	}
	
	
	/* CSS for cart animation */
	.b-cart {
	  width: 80px;
	  height: 35px;
	  background: #E74C3C;
	  color: #fff;
	  text-align: center;
	  font-family: "Helvetica Neue";
	  font-size: 20px;
	  padding-top: 3px;
	  padding-left: 0px;
	  border-bottom: 3px solid #d83d2d;
	  border-radius: 3px;
	  margin-left: 50px;
	}
	
	#cart-container {
	  float: right;
	  width: 210px;
	  position: relative;
	}
	
	.itemCount {
	  position: absolute;
	  display: none;
	  top: -10px;
	  left: -10px;
	  width: 20px;
	  height: 20px;
	  border-radius: 50%;
	  background: red;
	  color: white;
	  text-align: center;
	}
	
	img {
	  width: 100%;
	}
	
	.item {
	  width: 31%;
	  float: left;
	  margin: 1%;
	}
	
	i:hover {
	  cursor: pointer;
	}
</style>
<div class="left-content" ng-controller="prodCtrl">
	   <div class="mother-grid-inner">
            <!--header start here-->
		<div>
			<div my-customer></div>
		</div>
			
		<section class="product_area product_gird_three p_100">
			<div class="container" style="margin-bottom: 4%">
				<div class="row">
					<div class="col-md-12">
					 <div class="left_text col-sm-7"><h3>Product List</h3></div>
					 <div class="left_text col-sm-3">
						<select ng-model="producttype" class="form-control">
				          	<option>Cattle</option>
				          	<option>Pet Food</option>	
			          	</select>
					 </div>
					 <div class="col-sm-2">
					      <a href=""><div id="cart" ng-click="showcartitem()">
					        <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
					        <span class="itemCount"></span>
					      </div></a>
					      
					 </div>
					</div>
				</div>
			</div>
			
			
			<div class="container" ng-show="viewcartitem">
				<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="c in cart">
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img src="{{c.product_image}}" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin">{{c.product_name}}</h4>
									</div>
								</div>
							</td>
							<td data-th="Price">{{c.price}}</td>
							<td data-th="Quantity">
								{{c.count}}
							</td>
							<td data-th="Subtotal" class="text-center"> ₹{{c.price*c.count | currency}}</td>
							<td class="actions" data-th="">
								<button class="btn btn-danger btn-sm" ng-click="removeItemCart(c)"><i class="fa fa-trash-o"></i></button>								
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr class="visible-xs">
							<td class="text-center"><strong>Total 1.99</strong></td>
						</tr>
						<tr>
							<td><a href="" class="btn btn-warning" ng-click="showproductlist()"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total {{total | currency}}</strong></td>
							<td><a href="https://www.paypal.com/webapps/hermes?token=5EY097812P7754247&useraction=commit&mfid=1546377013907_cf1dec6830d7" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
						</tr>
					</tfoot>
			  </table>
		  </div>
			
		
			<div class="container" ng-show="viewproductlist">
        		<div class="row">
        			<div class="col-lg-12">
						<div class="col-md-3 col-sm-6" ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
					        	<div class="product-grid6">
						          <div class="product-image6">
						             <a href="">
						                <img class="pic-1" src="{{item.product_image}}" style="height: 270px;">
						             </a>
						          </div>
						          <div class="product-content">
						               <h3 class="title"><a href="#">{{item.product_name}}</a></h3>
						               <div class="price">₹{{item.price}}
						                  <span>₹{{item.price}}</span>	
						               </div>
						          </div>
						          <ul class="social">
						              <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
						              <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
						              <li ng-click="addItemToCart(item)"><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
						          </ul>
						     </div>
						</div>
						
						<div class="pagination_area" style="overflow:visible;">
							<nav aria-label="Page navigation example">
								<ul class="pagination">
		                           <li class="page-item" ng-class="{disabled: currentPage == 0}"><a href ng-click="prevPage()"><i class="fa fa-angle-double-left"></i> Prev</a></li>
		                           <li class="page-item" ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
		                                   <a href ng-bind="n + 1"></a>
		                           </li>
		                           <li class="page-item" ng-class="{disabled: currentPage == pagedItems.length - 1}"><a href ng-click="nextPage()">Next <i class="fa fa-angle-double-right"></i></a></li>
                            	</ul>
							</nav>
						</div>
					    <hr>				 
        			</div>
        		</div>
        	</div>
        	
        	
		</section>
		
		<div id="footer" ng-include="'./ng-view/common/footer.html'"></div>	
	</div>
	<div id="header" ng-include="'./ng-view/common/header.html'"></div>
	<div class="clearfix"> </div>
</div>