<link rel="stylesheet" type="text/css" href="./css/util.css">
<link rel="stylesheet" type="text/css" href="./css/main.css">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/hideshowpassword/2.0.8/hideShowPassword.min.js">
<!--

//-->
</script>
<style>
/* The container */
.container1 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container1 input:checked ~ .checkmark {
  background-color: #5cb85c;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container1 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container1 .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.bckimg{
    background-image: url("./images/pet-care1.jpg");
    height: 852px; 
}

  #password + .glyphicon {
   cursor: pointer;
   pointer-events: all;
 }
 
 .eyeicon{
 	/* position: relative; */ 
 	font-size: 17px !important ;
 	color: darkolivegreen !important;
 	top: 10px;
    left: 92%;
 	width: 34px;
 } 
 
 .m-t-15{
 	margin-top: 0px;
    margin-left: 15px;
 }
 .login100-form-btn{
 	margin-top: 10px;
 }
 .validlogin{
 	color:red;
 	font-size: 15px;
    font-family: none;
 }
 
 @media screen and (min-width: 450px) {
  .loginmobview{
  	overflow-y: hidden;
  	height: auto;
  }
  .selectrole{
  	border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    height: 45px;
  }
  .loginview{
  	position: relative;
  }
 }

</style>



<div ng-controller="regCtrl" class="bckimg">
	
	   <div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100">
					<div class="login100-form-title" style="background-image: url(./images/pet-care1.jpg);">
						<span class="login100-form-title-1">
							Sign In
						</span>
					</div>
	
					<form class="login100-form validate-form" id="loginform" name="loginform" novalidate>
					
						<div class="wrap-input100 validate-input m-b-26">
							<span class="label-input100">User Role</span>
							<select class="input100 selectrole" ng-model="regtype" id="userrole" ng-change="changedValue(regtype)" name="roleuser" required>
		                         <option value="" selected>select your role</option>
		                    	 <option value="customer">Customer</option>
		                    	 <option value="medical">Medical Supporter</option>
		                    	 <option value="seller">Seller</option> 
		                    	 <option value="vetdoctor">Veterinary Doctor</option> 
                    		</select>
							<span class="focus-input100"></span>
						</div>
						<span class="validlogin" ng-show="submitted == true && loginform.roleuser.$error.required">Please Select the User Role.</span>						
						
						<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
							<span class="label-input100">Email</span>
							<input class="input100" type="text" ng-model="uname" name="username" placeholder="enter the mail id" required>
							<span class="focus-input100"></span>
						</div>
						<span class="validlogin" ng-show="submitted == true && loginform.username.$error.required">Please Enter the Email.</span>
	
						<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
							<span class="label-input100">Password</span>
							<input class="input100" type="password" ng-model="pwd" name="pass" id="password" placeholder="enter the password" required>
							 <i class="glyphicon glyphicon-eye-close form-control-feedback eyeicon"></i> 
							<span class="focus-input100"></span>
						</div>
					      
						<span class="validlogin" ng-show="submitted == true && loginform.pass.$error.required">Please Enter the Password.</span>
						
						<span class="validlogin" ng-show="bothview">Please Enter Valid Email/Password.</span>
	
						
						<div class="container-login100-form-btn">
							<button style="font-size:20px;" type="submit" class="login100-form-btn" ng-click="loginclk(submitted=true)">Login</button>
							 <div class="register-link m-t-15 text-center">
                            	 <p style="font-size:12px">Don't have an account ? <a style="font-size: 13px;color:#57b846!important;" data-toggle="modal" data-target="#myModal">  SIGN UP HERE</a></p>
                            	 <div>
									<a style="font-size: 12px;color:#57b846" href="#" class="txt1">
										FORGOT PASSWORD?
									</a>
								 </div>
                        	 </div>
						</div>
						
						<!-- <div class="flex-sb-m w-full p-b-30">
							 <div class="contact100-form-checkbox">
								<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
								<label class="label-checkbox100" for="ckb1">
									Remember me
								</label>
							</div>
	
							<div>
								<a href="#" class="txt1">
									Forgot Password?
								</a>
							</div>
						</div> -->
						
					</form>
				</div>
			</div>
		</div>

    
	   <div class="modal fade"  id="myModal" role="dialog">
		    <div class="modal-dialog">
		      <!-- Modal content-->
		      <div class="modal-content loginmodelcont">
		        <div class="modal-header loginmodel">
		          <button type="button" class="close" ng-click="rolecancel()" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">TYPE OF REGISTRATIONS</h4>
		        </div>
		        <div class="modal-body ">
					<label class="container1 radiobtnclk">Customer
					  <input type="radio" checked="checked" ng-model="getuser" value="user" name="radio">
					  <span class="checkmark"></span>
					</label>
					<label class="container1 radiobtnclk">Medical Supporter
					  <input type="radio" name="radio" ng-model="getuser" value="supporter">
					  <span class="checkmark"></span>
					</label>
					<label class="container1 radiobtnclk">Seller
					  <input type="radio" name="radio" ng-model="getuser" value="seller">
					  <span class="checkmark"></span>
					</label>
					<label class="container1 radiobtnclk">Veterinary Doctor
					  <input type="radio" name="radio" ng-model="getuser" value="doctor">
					  <span class="checkmark"></span>
					</label>
					
					<!-- <label class="container1">Distributor
					  <input type="radio" name="radio" ng-model="getuser" value="distributor">
					  <span class="checkmark"></span>
					</label> -->
					
		        </div>
		        <div class="modal-footer">
		        <span style="color:red" ng-show="regrole">Please select the any role</span>
		          <button type="button" class="btn btn-success" ng-click="regclk()">OK</button>
		          <button type="button" class="btn btn-default" ng-click="rolecancel()" data-dismiss="modal">Cancel</button>
		        </div>
		      </div>
		      
		    </div>
	  </div>
  
</div>



<!-- <div ng-if="!showPassword" class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
							<span class="label-input100">Password</span>
							<input class="input100" type="password" ng-model="params.pwd" name="pass" id="password" placeholder="enter the password" required>
							<i class="glyphicon glyphicon-eye-open form-control-feedback eyeicon"></i>
							<span class="focus-input100"></span>
							<span ng-if="params.pwd" ng-click="toggleShowPassword()" class="glyphicon glyphicon-eye-close form-control-feedback" 
					              style="cursor: pointer; pointer-events: all;">
					        </span>
						</div>
					      
					    <div ng-if="showPassword" class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
							<span class="label-input100">Password</span>
							<input class="input100" type="text" ng-model="params.pwd" name="pass"  placeholder="enter the password" required>
							<i class="glyphicon glyphicon-eye-open form-control-feedback eyeicon"></i>
							<span class="focus-input100"></span>
							<span ng-if="params.pwd" ng-click="toggleShowPassword()" class="glyphicon glyphicon-eye-open form-control-feedback" 
              					style="cursor: pointer; pointer-events: all;">
        					</span>
						</div> -->

