<style>
	.bckimg{
	  background-image: url("./images/natureanimal.jpg");
	}
	.fontmsg{
		font-size: 14px;
	}
	.upload-btn-wrapper {
	  position: relative;
	  overflow: hidden;
	  display: inline-block;
	}
	
	.upload-btn-wrapper {
	   position: relative;
	   display: inline-block;
	   border-radius: 4px;
	   border: 1px solid #ccc;
	   width: 100%;
	   padding: 10px 16px 5px 10px;
	   font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
	   color: #858282;
	   margin-top: 2px;
	   background: white;
	}

	 .upload-btn-wrapper input[type="file"] {
	    -webkit-appearance: none;
	    position: absolute;
	    top: 0;
	    left: 0;
	    opacity: 0;
	}
		
	#load{
	    width:100%;
	    height:100%;
	    position:fixed;
	    z-index:9999;
	    background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25);
	}
</style>

   <div ng-controller="regCtrl" class="sufee-login d-flex align-content-center flex-wrap bckimg"> <!-- background:#343a40!important;style="height: 1043px" -->
   		<div ng-show="loadview" id="load" style="color:red">Please wait loading...</div>
   		<div class="container" ng-show="successmsg">	
           <div class="login-logo" style="margin-top: 20px;">
		  		<div class="alert alert-success">
		  			<strong>Successfully Registered!</strong> 
		  		</div>
		  </div>
  		</div>
  		
        <div class="container" >
            <div class="login-content">
                <div class="login-logo">
                    <h3 href="index.html" style="color: azure">
                        CUSTOMER REGISTRATION
                    </h3>
                </div>
                <div class="login-form"  style="overflow-y:hidden;">
                    <form id="property" id="customerform" name="customerform" novalidate>
                        <div class="form-group">
                            <label>Name<span style="color:red">*</span></label>
                            <input type="text" class="form-control" ng-model="customername" name="customername" placeholder="enter the name" required>
                            <span class="fontmsg" style="color:red;" ng-show="submitted == true && customerform.customername.$error.required">Enter the name</span>
                        </div>
                        <div class="form-group">
                            <label>Email address<span style="color:red">*</span></label>
                            <input type="email" class="form-control" ng-model="email" name="email" placeholder="enter the email address" required>
                            <span class="fontmsg" style="color:red" ng-show="submitted == true && customerform.email.$error.required">Enter the email</span>
                        </div>
                        <div class="form-group">
                            <label>Password<span style="color:red">*</span></label>
                            <input type="password" class="form-control" ng-model="password" name="pwd" placeholder="enter the password" required>
                            <span class="fontmsg" style="color:red" ng-show="submitted == true && customerform.pwd.$error.required">Enter the password</span>
                        </div>
                        <div class="form-group">
                            <label>Street</label>
                            <input type="text" class="form-control" ng-model="address" name="location" placeholder="enter the street" required>
                            <!-- <span class="fontmsg" style="color:red" ng-show="submitted == true && customerform.location.$error.required">Enter the street</span> -->
                        </div>
                        <div class="form-group">
                            <label>City<span style="color:red">*</span></label>
                            <input type="text" class="form-control" ng-model="city" name="city" placeholder="enter the city" required>
                            <span class="fontmsg" style="color:red" ng-show="submitted == true && customerform.city.$error.required">Enter the city</span>
                        </div>
                        <div class="form-group">
                            <label>Phone No</label>
                            <input type="text" class="form-control" ng-model="contactno" name="phoneno" placeholder="enter the phone no" required>
                            <!-- <span class="fontmsg" style="color:red" ng-show="submitted == true && customerform.phoneno.$error.required">Enter the phoneno</span> -->
                        </div>
                        <!-- <div class="form-group">
                            <label>Device Id<span style="color:red">*</span></label>
                            <input type="text" class="form-control" ng-model="uid" name="deviceid" placeholder="enter the device id" required>
                            <span class="fontmsg" style="color:red" ng-show="submitted == true && customerform.deviceid.$error.required">Enter the deviceid</span>
                        </div> -->
                        <div class="form-group">
                            <label>Image Upload<span style="color:red">*</span></label>
                            <div class="upload-btn-wrapper">
	                          	<span>Choose File</span>
	                            <input type="file" class="form-control imgupload"  name="img"  ng-model="userphoto" placeholder="upload the image" style="padding-top: 0px;" accept="image/*" required>
                            </div>
                            <span class="fontmsg" style="color:red" ng-show="submitted == true && customerform.img.$error.required">Uplod the image</span>
                            <span class="fontmsg" style="color:red" ng-show="imgvalidate">Please upload jpg,png files only</span>
                        </div>
                        <input type="hidden" ng-init='userreg();' class="form-control"  value="{{typeofreg}}" placeholder="reg">
                        
                        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" ng-click="saveuserreg(submitted=true)" style="display: block;font-size:17px;padding:8px;font-weight: 600;">Register</button></br>
                        <div class="register-link m-t-15 text-center">
                            <p>Already have account ? <a href="#"> Sign in</a></p>
                        </div>
                    </form>
                    
                </div>
            </div>
          </div>
  </div>
